Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.5.3
Flask-Mail==0.9.1
Flask-CORS==4.0.0
Flask-Migrate==4.0.5
Werkzeug==2.3.7
SQLAlchemy==2.0.21
PyJWT==2.8.0
python-dotenv==1.0.0
email-validator==2.0.0
flask_migrate
flask_mail
flask-socketio==5.3.6
python-engineio==4.8.0
python-socketio==5.11.0
redis==5.0.0
prometheus-flask-exporter==0.23.0